__pycache__
*.pyc
*_disp.jpg
*_disp.npy
*.npz
kitti_data
/models
temp_*.png
*.pth
DeepPhotoStyle_pytorch/depth_networks/depth-hints/models/models.zip
*.npy
# pseudo_lidar/figures/GeneratedAtks/Scene/*
pseudo_lidar/figures/GeneratedAtks/Adv_car/*
pseudo_lidar/figures/GeneratedAtks/PointCloud/*
train_log/*
*.hdf5
